* {
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  /* Se över storleken på container */
  .container {
    position: absolute; 
    text-align: center;
    color: #232323;
    margin-top: 70px;
    margin-bottom: 70px; 
    width: 600px;
    max-width: 80%;
    background-color: #f13a3c;
    border-radius: 5px;
    padding: 30px;
  }
  
  #question-text {
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    inline-size: 500px;
    overflow-wrap: break-word;
}
  
  .options-btn {
    display: grid; 
    justify-content: center;
    padding: 20px; 
    grid-template-columns: repeat(auto-fit, minmax(80px, 0.5fr));
  }
  
 .left-btn, .right-btn, .start-btn {
    background-color: white;
    border: none;
    color: black;
    padding: 28px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px;
  }

 .left-btn, .right-btn, .start-btn:hover {
    cursor: url(./images/hearticon.png), auto;
  } 

  #myVideo , #img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  img {
    max-height: 200px;
  }

  .hide {
    display: none;
  }